<!DOCTYPE html>
html{
  font-size: 120%;
  background: #34568B;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6em;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.30em;
  font-family: Georgia, serif;
  font-size: 25px;
  background-color: #FF6F61;
  line-height: normal;
  text-align: center;
}

header h1{
  /*flex 2;*/
  height: 50%;
  order: 2;
}

header img{
  /*flex 1;*/
  order: 1;


}

a{
  text-decoration: none;
  color:#F7C43B;
}
a:hover{
  color:white;
  text-decoration: underline;
}

nav{
padding-bottom: 5rem;
}

nav ul li {
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Arial Black", sans-serif;
  float:left;
  width: 33%;
  text-align:center;
  border: 2px solid #;
  box-sizing: border-box;
  background-color: #ffffff

}

.container{
  width: 90%;
  margin:auto;
  border: 5px #2f4550 solid;
  text-align: center;
}

.wrapper {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Verdana, sans-serif;
  margin-top: 0em;
  background-color: #595959;
  color: white;
  font-weight: 400;
}

.wrapper figure{
  padding-top: 2em;
  border-radius: 15px;
}

.wrapper figure a img{
  max-width: 100%;
  height: auto;
  order: 1;
}

.wrapper article{
  order: 2;
}

.wrapper aside{
  order: 3;
}

.spacer {
  padding: 3rem;
}

footer{
background-color: #FF6F61;
text-align: center;
display: flex;
flex-direction: column;
justify-items: start;

}

footer h3{
  padding: 0rem;
  font-weight: bold;
  font-size: 28px;
}

.locations{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.restaurants_container{
    position: relative;
    top:50%;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    width: 90%;
    margin:1em;
    font-family: Verdana, sans-serif;
    border: 5px #2f4550 solid;
    background-color: #FF6F61;
    color: white;
    font-weight: 400;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
  }
footer p{
  /*float: left*/;
  width: 25%;
  padding: 0rem;
  font-weight: bold;
}

footer a h5{
  font-size: 18px;
  padding: 0rem;
}
